@model IEnumerable<CoreFitness.Domain.Entities.GymSession>

@{
    ViewData["Title"] = "Training Sessions";
}

<div class="training-wrapper">
    <h1 style="color: white; margin-bottom: 40px;">Available Training Sessions</h1>

    <div class="training-grid">
        @foreach (var session in Model)
        {
            <div class="session-card">
                <span class="category-badge">@session.Category</span>
                <h2>@session.Name</h2>
                <p>@session.Description</p>

                @* Logik för att visa Boka eller Avboka baserat på om BookedByUserId är tom *@
                @if (string.IsNullOrEmpty(session.BookedByUserId))
                {
                    <form asp-action="Book" method="post">
                        <input type="hidden" name="sessionId" value="@session.Id" />
                        <button type="submit" class="btn-booking btn-book">Book Session</button>
                    </form>
                }
                else
                {
                    <form asp-action="Unbook" method="post">
                        <input type="hidden" name="sessionId" value="@session.Id" />
                        <button type="submit" class="btn-booking btn-unbook">Unbook Session</button>
                    </form>
                }

                @if(User.IsInRole("Admin"))
                {
                    <form asp-controller="Admin" asp-action ="DeleteSession" asp-route-id ="@session.Id" method ="post"onsubmit="return confirm('Är du säker på att du vill ta bort detta pass?');">

                        <button type="submit" style="background-color: #ff4444; color: white; border: none; padding: 5px 10px; border-radius: 5px; cursor: pointer; margin-top: 10px; width: 50%;">
                            Delete Class
                        </button>
                        </form>
                }
                  


                <p style="color: #adff2f; font-weight: bold;">
                    @session.StartTime.ToString("MMM dd, HH:mm") - @session.EndTime.ToString("HH:mm")
                </p>

            </div>
        }
    </div>
</div>
